.container{
    font-family: "Kaleko 205 W00";
    background-image: url('../assets/img/backgoundcolours.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 15px;
    height: 1500px
}

.fondoblanco{
    background-color: #ffffff;
    margin-top: 2px;
    margin-bottom: 1%;
    height: 94px;
}

.nasa{
    background-color: #ffffff;
    margin-bottom: 0px;
    position: absolute;
    top: 2%; 
    left: 18%;
    font-size: 14px;
}

.listamenu{
    background-color: #ffffff;
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 10px;
    position: absolute;
    top: 3%;
    right: 210px;
    font-size: 14px;
}

hr{
    color: grey;
    border-top:10px ;
    margin-top: 20px;
    margin-bottom: 20px;
}

.npmlogo{
    margin-left: 279px;
    margin-bottom: 200px;
    position:relative;
    bottom: 60px;
}


.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -21%;
    margin-left: 360px;
    height: 30px;
    width: 700px;
    background-color:#f2f2f2 ;
    border-style: none;
}

.lupa{
    margin-left:40px;
    bottom: 273px;
    position: relative;
    background-color: #f2f2f2;
    width: 15px;
    height: 15px;
}

.searchbtn{
    background-color: black;
    color: #ffffff;
    display: flex;
    padding-top: 6px;
    justify-content: center;
    position: relative;
    margin-left: 990px;
    margin-top: -31px;
    width: 70px;
    height: 33px;
    font-size: 13px;
}

.signup{
   background-color: #ffffff;
    margin: #bdbdbd;
    border-color: #bdbdbd;
    margin: 1px solid;
    position: relative;
    margin-left: 1081px;
    bottom: 34px;
    width: 90px;
    height: 37px;
    font-size: 13px;
    border-style:solid;
    border-radius: 4px;
}

.signin{
    background-color:#ffffff;
    border-style: none;
    position: relative;
    margin-left: 1171px;
    bottom: 67px;
    width: 70px;
    height: 30px;
    font-size: 13px;
}

.section1{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 170px;
    color: #ffffff;
}

.container-section h1{
    font-size: 50px;
    margin-top: 100px;
}

.signupforfree{
  border-radius: 70px;
  padding: 18px;
  height: 23px;
  display: flex;
  align-items: center;
  margin-left:90px;
  background-color: #ffc32b;
  margin-top: 60px;  
}

.learnaboutpro{
  border-radius: 70px;
  padding: 17px;
  height: 23px;
  display: flex;
  align-items: center;
  margin-left: 250px;
  background-color: #fb5127;
  border-color: #ffffff;
  margin-top: -39px;
}

.section2{
  display: flex;
  justify-content: center;
  margin-top: 500px;
  width: 1000px;
}

.simbolo{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 700px;
  margin-top: 6px;
  position: absolute;
}

.h10{
    display: flex;
    position: absolute;
    margin-top: 100px;
    margin-left: 570px;
    text-align: center;
    font-size: 30px;
}

.p2{
    margin-top: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 470px;
}

.support{
  list-style-type: none;
  margin-left: 23%;
  position: absolute;
  margin-top: 80px;
}

.company{
    list-style-type: none;
    position: absolute;
    margin-left: 45%;
    margin-top: 80px;
}

.terms{
    list-style-type: none;
    margin-left: 70%;
    margin-top: 80px;
}

.github{
   display: flex;
   position: absolute;
   margin-top: -50px;
   margin-left: 140px;
}

.logonpm2{
    display: flex;
    position: absolute;
    margin-top: -120px;
    margin-left: 140px;
}